extends layout.pug

block content
    form(action=urlPassword method='POST')
        h1.title Password reset
        p.paragraph There was a revover password attempt on your account! If it wasn't you please ignore this. Otherwise click the button below to restore your password
        button.button-verify(type="submit") Recover my password
